@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 80px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  padding: 4rem;
}

.row {
  column-count: 2;
  column-width: 300px;
}

.firstrow {
  column-count: 2;
  column-width: 300px;
  display: flex;
  padding: 1.5rem;
}

.secondrow {
  padding-left: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: blue;
  cursor: pointer;
}

.subline {
  font-size: 0.9rem;
  color: slategray;
  font-weight: 600;
  opacity: 0.8;
}

.column {
  flex: 50%;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.size{
  font-size: 12px;
  color:#999;
}

.container{
  display:flex;
  padding-top: 4px;
}

.firstcolumn{
  flex-basis: 40%;
}

.secondcolumn{
  flex-basis: 60%;
}

.one {
  font: 12px/1.5 'PT Sans', serif;
  margin: 25px;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color:blue;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button1 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button1:hover {
  background-color: #555555;
  color: white;
}

.title{
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 400;
}

.button2 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:4px;
}

.button2 {padding: 10px 24px;}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}


.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}